
		<div class = "container">
		
			<h3> Welcome to Career Fair Management System!! </h3> 
			</br>
			
			<ul class="nav nav-tabs">
				<li class="active"><a ng-href="http://www.gravatar.com/avatar/{{hash}}">Edit Profile</a></li>
				<li style="cursor: pointer;" ng-click="logout()"><a ng-href="">Logout</a></li>
			</ul>
		
			<h3> Create or Update Profile </h3> 
			
			<form class="form-horizontal" name="profileForm">
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Website URL :</label>
						<div class="col-sm-2">
							<input type="text" ng-model="website"  placeholder="Enter website url"/>
						</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label"> Industry :</label>
						<div class="col-sm-2">
							<input type="text" ng-model="industry"  placeholder="Enter industry"/>
						</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label"> Headquarters :</label>
						<div class="col-sm-2">
							<input type="text" ng-model="headquarters"  placeholder="Enter city" required/>
						</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label"> Contact No :</label>
						<div class="col-sm-2">
							<input type="text" ng-model="contactNo"  placeholder="Enter contact no."/>
						</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label"> About Us :</label>
						<div class="col-sm-2">
							<textarea name="aboutUs" ng-maxlength="200" ng-model="aboutUs"  placeholder="Enter company description"></textarea>
						</div>
				</div>
				
				</hr>
				<button class="col-sm-2 btn btn-success" ng-click="save()"> Save </button> 
			</form>
			
			
			
			<button class="col-sm-2 btn btn-danger" ng-click="getProfileData()"> Cancel </button> 
		</div>
		