
		<div class = "container">
		
			<h3> Welcome to Career Fair Management System!! </h3> 
			</br>
			
			<ul class="nav nav-tabs">
				<li class="active"><a ng-href="http://www.gravatar.com/avatar/{{hash}}">Edit Profile</a></li>
				<li><a ng-href="http://www.gravatar.com/avatar/{{hash}}">Add Jobs</a></li>
				<li><a ng-href="http://www.gravatar.com/avatar/{{hash}}">View Jobs</a></li>
				<li><a ng-href="http://www.gravatar.com/avatar/{{hash}}">View Students</a></li>
				<li style="cursor: pointer;" ng-click="logout()"><a ng-href="">Logout</a></li>
			</ul>
		
			<h3> Create or Update Profile </h3> 
			
			<form class="form-horizontal" name="profileForm">
				<div class="form-group">
					<label class="col-sm-2 control-label">First Name :</label>
						<div class="col-sm-2">
							<input type="text" ng-model="firstName"  placeholder="Enter first name" required/>
						</div>
				</div> 
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Last Name :</label>
						<div class="col-sm-2">
							<input type="text" ng-model="lastName"  placeholder="Enter last name" required/>
						</div>
				</div> 
				
				<div class="form-group">
					<label class="col-sm-2 control-label"> Email ID :</label>
						<div class="col-sm-2">
							<input type="email" ng-model="email"  placeholder="Enter email ID"/>
						</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label"> Contact No :</label>
						<div class="col-sm-2">
							<input type="text" ng-model="contactNo"  placeholder="Enter contact no."/>
						</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label"> Designation :</label>
						<div class="col-sm-2">
							<input type="text" ng-model="designation"  placeholder="Enter designation" required/>
						</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label"> Location :</label>
						<div class="col-sm-2">
							<input type="text" ng-model="location"  placeholder="Enter city" required/>
						</div>
				</div>
				
				</hr>
				<button class="col-sm-2 btn btn-success" ng-click="editUser(user.id)"> Save </button> 
			</form>
			
			
			
			<button class="col-sm-2 btn btn-success" ng-click="editUser(user.id)"> Cancel </button> 
		</div>