		<div class = "container">
		
			<h3> Welcome to Career Fair Management System!! </h3> 
			
			<form name="loginForm" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Username :</label>
						<div class="col-sm-2">
							<input type="text" ng-model="user.username"  placeholder="Enter username" required/>
						</div>
				</div> 
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Password :</label>
						<div class="col-sm-2">
							<input type="password" ng-model="user.password" placeholder="Enter password" required/>
						</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Login as :</label>
					<div class="col-sm-2">
						<select ng-options="u for u in users"
								ng-model="selectedUser"></select>
					</div>
				</div>
				
				</hr>
				<button class="col-sm-2 btn btn-success" ng-disabled="loginForm.$invalid" ng-click="login(user)"> Login </button> 
			</form>
			<button class="col-sm-2 btn btn-warning" ng-click="register()">Register</button> 
			
				<p style="position: fixed; top: 250px; text-align: left" ng-show="loginError"> The username or password you entered is incorrect </p>
			
		</div>		
		